@import "../variables.scss";

.card {
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__modal {
    height: 2.8em;
    overflow: hidden;
    text-align: right;
    img {
      position: relative;
      right: 1em;
      bottom: 0.3em;
    }
  }

  overflow: hidden;
  &__activity {
    position: relative;
    top: 2px;
    background: $darkBlue;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 1fr;
    padding-inline: 1.5em;

    height: 100%;
    .activity {
      font-size: 16px;
      justify-self: left;
      text-transform: capitalize;
      font-weight: 400;
      color: white;
    }

    .hours {
      font-size: 2em;
      padding: 0;
      margin: 0;
      font-weight: 300;
      color: white;
    }

    .last_week {
      justify-self: right;
    }

    .icon {
      justify-self: right;
      align-self: end;
      margin-bottom: 9px;
      cursor: pointer;
    }
  }
}

.work {
  background-color: $lightRedWork;
}
.play {
  background-color: $softBlue;
}
.study {
  background-color: $lightRed;
}
.exercise {
  background-color: $limeGreen;
}
.social {
  background-color: $violet;
}
.selfCare {
  background-color: $softOrange;
}
