@import "./variables.scss";

.App {
  height: 100%;
  color: #eee;
  font-weight: 300;
  padding: 0;
  margin-inline: auto;
}

.wrapper {
  padding: 2em;
  padding-top: 40px;
  gap: 2em;
  margin-inline: auto;

  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    width: fit-content;

    .cards {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
    }
  }

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;

    .cards {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 300;
  color: $paleBlue;
  padding: 0;
  margin: 0;
}

li {
  color: $desaturatedBlue;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
